
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuka Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="banner text-center">
        <img class="img-logo border rounded-circle border-dark mt-4" src="/images/logo.png" alt="Tuka Shop">
        <p class="subtitle pb-4 mb-0">Argentine foods and desserts</p>
    </div>
    <hr>
    <div class="container d-flex justify-content-center">
        <div class="container-form border m-5">
        <!-- <div class="border m-5"> -->
            <div class="card-header bg-dark text-white text-center">
                <h3>Edit <%= productName %> Product</h3>
            </div>
            <div class="card-body">
                <form action="/admin/modify-product/<%= productId %>" method="POST" enctype="multipart/form-data">
                    <textarea type="text" name="name" class="form-control" placeholder="Name" rows="1" cols="1" required><%= productName %></textarea><br />
                    <textarea type="text" name="description" class="form-control" placeholder="Description" rows="9" cols="25" required><%= productDescription %></textarea><br />
                    <img class="img" src="<%= imagePath %>">
                    <input type="file" name="image" value="<%= imagePath %>" class="pb-4">
                    <input type="submit" class="btn btn-primary btn-block mt-4">
                </form>              
            </div>
        <!-- </div> -->
        </div>
    </div>
</body>